.block__list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 0 15px;
  width: 301px;
  height: 89px;
  background: #ffffff4d;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 30px 0 30px 0;
  border: 4px solid #fff;
  box-shadow: 0 0px 20px #ffffff90;
}

.block__list::before {
  position: absolute;
  content: "";
  width: 28px;
  height: 41px;
  top: -21px;
  right: -19px;
  background-image: url(../img/pseudoElement/drop.png);
  background-size: cover;
}

.block__list-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: #5e7600;
}

.block__number {
  margin-left: -2px;
  font-size: 30px;
}

.text__inside {
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
  width: 195px;
}

.list__slider {
  display: none;
}

/* ------------------------------------------------------- */


@media (max-width: 998px) {
  .list__slider {
    position: relative;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }



  .block__list-sl {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 280px;
    height: 217px;
    background: #ffffff4d;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 30px 0 30px 0;
    border: 4px solid #fff;
    box-shadow: 0 0px 20px #ffffff90;
  }


  .slide {
    position: absolute;
    top: 0;
    opacity: 0;
  }

  .gallery__slide_active {
    opacity: 1;
  }

  .block__list-sl::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 60px;
    top: -27px;
    right: -25px;
    background-image: url(../img/pseudoElement/drop.png);
    background-size: cover;
  }

  .block__list-circle-sl {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 22px;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: #5e7600;

  }

  .block__number-sl {
    margin-left: -2px;
    font-size: 30px;
  }

  .text__inside-sl {
    font-size: 14px;
    text-align: center;
  }

  .block__slider-btn {
    position: absolute;
    bottom: -240px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 30px;
    width: 277px;
    display: flex;
    justify-content: space-between;
  }

  .btn__right {
    cursor: pointer;
    position: relative;
  }

  .btn__right::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    top: 0;
    left: -30px;
    background-image: url(../img/sliderPseudo/ArrowLeft.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .btn__left {
    cursor: pointer;
    position: relative;
  }

  .btn__left::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    top: 0;
    right: -30px;
    background-image: url(../img/sliderPseudo/ArrowRight.png);
    background-size: contain;
    background-repeat: no-repeat;
  }



  .text__inside-btn {
    font-size: 14px;
  }
}





@media (max-width: 999px) {
  .block__list {
    display: none;
  }
}